<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>考勤统计</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">

			<fieldset class="layui-elem-field">
				<legend>授课统计列表</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
					    <tr>
					      <th>学年</th>
					      <th>学期</th>
					      <th>课程名称</th>
							<th>实际选课人数/课程容量</th>
							<th>实际上课次数/计划上课次数</th>
							<th>旷课人次数</th>
							<th>迟到人次数</th>
							<th>早退人次数</th>
							<th>操作</th>
					    </tr> 
					  </thead>
					  <tbody>
						<foreach name="statistics" key="k" item="vo">
						    <tr>
								<th>{$vo.teaching_year}</th>
								<th>{$vo.term}</th>
								<th>{$vo.course_name}</th>
								<th>{$vo.real_student_number}/{$vo.student_number}</th>
								<th>{$vo.sign_count}/{$vo.plan_count}</th>
								<th>{$vo.play_truant}</th>
								<th>{$vo.late}</th>
								<th>{$vo.leave}</th>
						      <td>
								<a href="{:U('Statistics/viewOpt',array('iid' => $vo['id']))}" class="layui-btn layui-btn-warm layui-btn-mini viewOpt"><i class="layui-icon">&#xe615;</i>详情</a>
						      </td>
						    </tr>
						</foreach>
					  </tbody>
				</table>
			
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				{$page}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
				var laypage = layui.laypage,
					$ = layui.jquery
				
			});
		</script>
	</body>

</html>