<form class="layui-form">
  <div class="layui-form-item">
    <label class="layui-form-label">签到误差</label>
    <div class="layui-input-inline">
      <input type="text" name="signon_time" lay-verify="required" value="{$signrule.signon_time}" placeholder="请输入组织名称" autocomplete="off"  id="signon_time" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">签退误差</label>
    <div class="layui-input-inline">
      <input type="text" name="signout_time" lay-verify="required" value="{$signrule.signout_time}" placeholder="请输入组织名称" autocomplete="off"  id="signout_time" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">距离误差</label>
    <div class="layui-input-inline">
      <input type="text" name="title" lay-verify="required" value="{$signrule.distance}" placeholder="请输入组织名称" autocomplete="off"  id="name" class="layui-input">
    </div>
  </div>
  <input type="hidden" name="id" value="{$signrule.id}">
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="editsignrule">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script>
layui.use('form', function(){
	var form = layui.form(),
   		 $ = layui.jquery
	  //监听提交
	  form.on('submit(editsignrule)', function(data){
		  
	    var organization = data.field;
	    
		var url = "{:U('SignRule/edit')}";
		$.post(url,organization,function(data){
			if(data.status == 'error'){
				  layer.msg(data.msg,{icon: 5});//失败的表情
				  return;
			  }else if(data.status == 'success'){
				  layer.msg(data.msg, {
					  icon: 6,//成功的表情
					  time: 2000 //2秒关闭（如果不配置，默认是3秒）
					}, function(){
					   location.reload();
					}); 
			  }
		})
		
	    return false;//阻止表单跳转
	  });
	});
</script>