<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<p>欢迎来到CR课堂在线考勤系统</p>
								
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend></legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>版本号:# CR v1.11 2018-06-23</legend>
						<div class="layui-field-box">
							<p>1、本产品实现了基于角色的授权管理，核心有用户模块、角色模块、菜单模块组成</p>
							<p>2、本产品的主要功能由课程管理、授课安排、考勤统计构成</p>
							<p>3、本产品还有一些辅助功能,包括：组织结构、教学场所、签到规则、作息时间</p>
							<p>4、本产品所有模块的查询功能均已实现，大部分模块添加、编辑删除功能也实现了，批量操作未实现</p>
							<p>5、本产品注册使用QQ邮箱注册，利用QQ邮箱接收验证码，忘记密码由用户输入注册使用的QQ邮箱，系统通过邮件发送8位随机密码给用户</p>
						</div>
					</fieldset>
				</div>
			</fieldset>
		</div>
	</body>

</html>